{{#if user}}
<div class="contenedor-perfil">
    <ul class = "Menu">
        <li class="perfil-item"><a href="/user"> <span class="span-redirect" type = "submit" > Perfil  </span></a> </li>
        <li class="perfil-item"><a href="/myRequestReceived"> <span class="span-redirect" type = "submit" > Received Request  </span></a> </li>
        <li class="perfil-item"><a href="/myRequestSends"> <span class="span-redirect" type = "submit" > Send Request  </span></a> </li>
        
        <li class="perfil-item" id="menu-item" ><a href="/logout"> <span class="span-redirect" type = "submit" >  logout  </span></a> </li>
        <li class="perfil-item" id="menu-item" ><a href="/about"> <span class="span-redirect" type = "submit" >  about  </span></a> </li>
        
       
    </ul>
</div>

{{/if}}