{{#if name}}
   <H1 id = "C">You'r account is Confirmed.. Welcome </H1>
   <p id = "C" >{{name}}<p>
    
{{/if}}
{{#if email}}
    <p id = "C">your email is {{email}}</p>
{{/if}}


<a id = "C" href = "/">Sign in</a>