<div class="contenedor-form">
        <form class = "tarjeta" action="/" method="POST">
            <div class="contenedor-title">   <h2 class ="title-create">Sign in to your Account</h2></div>
            <input type="email" name="email" placeholder="Email">
            <input type="password" name="password" placeholder="Password">
            <div class="btn-contenedor">
            <button type="submit" class= "btn-Register">Sign in</button>
            </div>
            <ul class = "ul-sign">
            <p>Dont you have an account? <a class ="a-sign" href="/signUp">Sign up</a></p>
            </ul>
            
        </form>
</div>

</div>