<div class="contenedor-form">
   
        <form class = "tarjeta" action="/Signup" method="POST">
            <div class="contenedor-title">   <h2 class ="title-create">Sign Up in Reboof</h2></div>
            <input type="text" name="name" placeholder="Name" id = "place">
            <input type="email" name="email" placeholder="Email">
            <input type="date" name="date" placeholder="Date">
            <input type="password" name="password" placeholder="Password">
            <input type="password" name="confirm_password" placeholder="Confirm Password">
         
            <div class="btn-contenedor">
            <button type="submit" class= "btn-Register">Sign Up</button>
            </div>
            <ul class = "ul-sign">
            <p>¿Are you have account? <a class ="a-sign" href="/">Sign in</a></p>
            </ul>
            
        </form>
</div>

</div>

