<!DOCTYPE html>
<html lang="en">
<head>
 <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="exoclick-site-verification" content="1adf5dc7d1562667fa21a89d584a2d16">
  

  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
    integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
  <!--JS Botstrap -->
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
    crossorigin="anonymous"></script>
  <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns"
    crossorigin="anonymous"></script>
  <!-- font awesomw -->
  <script src="https://kit.fontawesome.com/0c04b4795a.js" crossorigin="anonymous"></script>
  


  <!---my -->
  <link rel="shortcut icon" href="/img/Logo-Post.png">
  <link rel="stylesheet" href="/css/main.css">

  <link rel="stylesheet" href="/css/profile.css">
  <link rel="stylesheet" href="/css/publications.css">
  <!-- #region -->

  <title>RebooF</title>
</head>
<body id="body">
  {{>navigation}}
  <main id="main">
    <div class="contendor">
      {{>messages}}
      {{{body }}}

    </div>
  </main>
  <script src="js/main.js"></script>
  <script src="/socket.io/socket.io.js" charset="UTF-8"></script>
  <script src="/src/conection.js" charset="UTF-8"></script>
  <script type="application/javascript" data-idzone="4223714" data-ad_first_trigger_clicks="2"
    data-ad_next_trigger_clicks="3" data-type="desktop" data-browser_settings="1" data-ad_trigger_method="3"
    src="https://a.exdynsrv.com/fp-interstitial.js"></script>
</body>

</html>